.padre{
	height: 200px;
	width: 200px;
	background:  #0048fb;
	position: relative;
}
.hijo{
	height: 100px;
	width: 100px;
	background-color: #387804;
	position: absolute;
	top: 25%;
	left: 25%;
}
.hijo-2{
	height: 50px;
	width: 50px;
	background-color: #000000;
	position: static;
	top: 0;
	left: 0;
}